<h1>Contact us</h1>
<p>Drop us a line</p>

<h4>No matter how you reach us, having your product serial number will help us to serve you best. Find your serial number</h4>

<i>Our product support site offers the tools and information you need to ensure the lasting value of your Bose® products.</i>

<h5>GO TO PRODUCT SUPPORT</h5>
<p><strong>1-800-379-2073</strong>
Mon. – Fri., 9 AM – 9 PM ET
Sat. 9 AM - 7 PM ET 
Closed Sunday </p>

<i>If you prefer to email us, we'll be sure to respond within 48 hours. 
Email@email.com </i>
