<h1>Welcome to my website!</h1>
<p>Sign up here.</p>

<h2> OUR BEGINNINGS </h2>

<p>The idea of Bambini & Me began during a wonderful Christmas holiday spent in Thailand with family. Whilst looking around a vibrant, local market Melissa discovered a gorgeous pair of bamboo baby pyjamas that were heavenly to touch and beautiful look at; they were so incredibly truly baby soft. Melissa fell in love with the fabric and so it began: the quest to bring truly baby soft bamboo clothing into our lives.</p>


<h2> Clothes approved by fussy children </h2>

<p>The children in our family are extremely fussy about the feel and texture of their clothes. In particular the uncomfortable feeling of a label scratching at the back of their neck. So, our aim was to create truly baby soft clothing that keeps fussy children happy.</p>
